<!--Component Pagination-->
<div class="pagination" id="pagination"></div>
<div class="pagination-circle">
    <div class="pagination-circle__list">
        <a href="#" class="pagination-circle__item active"></a>
        <a href="#" class="pagination-circle__item"></a>
        <a href="#" class="pagination-circle__item"></a>
        <a href="#" class="pagination-circle__item"></a>
        <a href="#" class="pagination-circle__item"></a>
        <a href="#" class="pagination-circle__item"></a>
    </div>
</div>