.welcome {
    display: flex;
    width: 100%;

    @media (max-width: (@small_screen_width)) {
        flex-wrap: wrap;
    }
}

.promo-img {
    width: 37.5%;
    position: relative;
    overflow: hidden;

    @media (max-width: (@small_screen_width)) {
        width: 100%;
        height: 300px;
    }
}

.promo-img img {
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    @media (max-width: (@small_screen_width)) {
        width: 100%;
    }
}

.promo-text {
    background: @white_smoke;
    width: 62.5%;
    padding: @section_padding 0 @section_padding @section_padding;

    @media (min-width: (@screen_width)) {
        padding: @section_padding_max 0 @section_padding_max @section_padding_max;
    }

    @media (max-width: (@screen_width)) {
        padding-right: @content_margin;
    }

    @media (max-width: 602px) {
        padding-top: @section_padding_min;
        padding-bottom: @section_padding_min;
    }

    @media (max-width: (@small_screen_width)) {
        width: 100%;
    }
}

.promo-text__wrapper {
    max-width: 670px;
}

.promo__desc {
    margin-top: 3.32vw;

    @media (min-width: (@screen_width)) {
        margin-top: 40px;
    }

    @media (max-width: 905.98px) {
        margin-top: 30px;
    }
}

.promo-list {
    margin-top: 2.2vw;
    padding-left: 20px;

    @media (min-width: (@screen_width)) {
        margin-top: 30px;
    }
}

.promo-list__item {
    list-style-type: disc;
    line-height: 2;
}

.promo__contacts {
    margin-top: 2.49vw;

    @media (min-width: (@screen_width)) {
        margin-top: 30px;
    }
}

.promo__contacts_bold {
    font-weight: 600;
}