<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script crossorigin="anonymous"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script type="application/javascript" src="https://test.segterra.com/skin/js/typeahead.js"></script>
    
    <title>hubspot frontend templates</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">

<link href="style/style.css" rel="stylesheet">

<!-- Idangerous Swiper-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

<!-- Air-datepicker-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">

</head>
<body>




<div class="container-content">
    <section class="blog-section">
    <div class="post-listing-wrapper">
        <div class="post-listing">
            <article class="post__item">
                <a href="#">
                    <img src="assets/img/post_1.png" alt="">
                </a>
                <a href="#">
                    <h1 class="post__header"> This is an example of a long title formatted in sentence case, over two lines</h1>
                </a>
                <h6>
                    <span>By Brayden Woods, </span>
                    <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                </h6>
                <p>
                    Did you know the most common risk factors for health, disease, and mortality worldwide actually has nothing to do with
                    lifestyle or genetics? It has to do with chronological age. (So, don't blame the family tree just yet) Chronological
                    aging, the number on your birth certificate, is inevitable. Did you know the most common risk factors for health,
                    disease, and mortality worldwide actually has nothing to do with lifestyle or genetics? It has to do with chronological
                    age. (So, don't blame the family tree just yet) Chronological aging, the number on your birth certificate, is
                    inevitable. </p>
                <a class="read-more" href="#">Read more</a>
            </article>
            <article>
                <a href="#">
                    <img src="assets/img/post_1.png" alt="">
                </a>
                <a href="#">
                    <h1>This is an example of a short title</h1>
                </a>
                <h6>
                    <span>By Brayden Woods, </span>
                    <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                </h6>
                <p>
                    The 2018 Reebok CrossFit Games are fast-approaching and we couldn’t be more excited! After all, for those of you who
                    don’t know, the CrossFit Games, known simply as "The Games" is the Super Bowl of the CrossFit competition season with
                    the first place man and woman being crowned "The Fittest on Earth." </p>
                <a class="read-more" href="#">Read more</a>
            </article>
            <article>
                <a href="#">
                    <img src="assets/img/post_2.png" alt="">
                </a>
                <a href="#">
                    <h1>Sentence case is easier to read</h1>
                </a>
                <h6>
                    <span>By Brayden Woods, </span>
                    <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                </h6>
                <p>
                    Did you know the most common risk factors for health, disease, and mortality worldwide actually has nothing to do with
                    lifestyle or genetics? It has to do with chronological age. (So, don't blame the family tree just yet) Chronological
                    aging, the number on your birth certificate, is inevitable. </p>
                <a class="read-more" href="#">Read more</a>
            </article>
            <article>
                <a href="#">
                    <img src="assets/img/post_3.png" alt="">
                </a>
                
                <a href="#">
                    <h1>This is an example of a long title formatted in sentence case, over two lines</h1>
                </a>
                <h6>
                    <span>By Brayden Woods, </span>
                    <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                </h6>
                <p>
                    Did you know the most common risk factors for health, disease, and mortality worldwide actually has nothing to do with
                    lifestyle or genetics? It has to do with chronological age. (So, don't blame the family tree just yet) Chronological
                    aging, the number on your birth certificate, is inevitable. </p>
                <a class="read-more" href="#">Read more</a>
            </article>
        </div>
        <div class="btn-wrap btn-block--centered">
            <button type="button" class="btn-primary btn-posts btn-posts--next">
                <span>Newer posts</span>
            </button>
            <button type="button" class="btn-primary btn-posts btn-posts--prev">
                <span>Older posts</span>
            </button>
        </div>
        <a href="#" class="link-secondary">View full list of blog posts</a>
    </div>
    <div class="right-panel"></div>
    <div class="modal modal--regular show" id="modal">
        <div class="modal__wrapper">
            <div class="modal__close"></div>
            <div class="modal__info">
                <div class="modal__text">
                    <h2 class="heading-20 modal__title">Like what you see?</h2>
                    <p class="heading-20 modal__title hide-tablet--horizontal">Don’t miss out!</p>
                    <a href="#" onclick="return false" class="btn-primary-glass">Subscribe to the blog</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--hubspot
<div class="blog-section">
   <div class="blog-post-wrapper cell-wrapper">
       <div class="blog-section">
           <div class="blog-post-wrapper cell-wrapper">
               <div class="section post-header">
                   <h1>{{ content.name }}</h1>
                   <div id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author" >
                       <span class="hs-author-label">by</span>
                       {% if content.blog_post_author %}
                       <a class="author-link" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_post_author.display_name }}</a> on {{ content.publish_date_localized }}
                       {% if content.blog_post_author.avatar %} <div class="hs-author-avatar"> <img src="{{ content.blog_post_author.avatar }}" alt="{{ content.blog_post_author.display_name }}"> </div> {% endif %}
                       {% endif %}
                   </div>
               </div>
               <div class="section post-body">
                   {{ content.post_body }}
               </div>
           </div>
       </div>
   </div>
</div>
Listing template
<div class="blog-section">
   <div class="blog-listing-wrapper cell-wrapper">
       <div class="blog-section">
           <div class="blog-listing-wrapper cell-wrapper">
               {# simple_list_page indicates the "blog/all" page, which is a list of links to every blog post #}
               <div class="post-listing{% if simple_list_page %}-simple{% endif %}">
                   {% if blog_author %}
                   <div class="hs-author-profile">
                       <h2 class="hs-author-name">{{ blog_author.display_name }}</h2>
                       {% if blog_author.avatar %} <div class="hs-author-avatar"> <img src="{{ blog_author.avatar }}" alt="{{ blog_author.display_name }}"> </div> {% endif %}
                       <div class="hs-author-bio">{{ blog_author.bio }}</div>
                   </div>
                   <h3 class="hs-author-listing-header">Recent Posts</h3>
                   {% endif %}
                   {% for content in contents %}
                   <article class="post__item">
                       {% if not simple_list_page %}
                       <div class="post-body clearfix">
                           //post summary
                           {% if content.post_list_summary_featured_image %}
                           <div class="hs-featured-image-wrapper">
                               <a href="{{content.absolute_url}}" title="" class="hs-featured-image-link">
                                   <img src="{{ content.post_list_summary_featured_image }}" class="hs-featured-image" alt="{{ content.featured_image_alt_text | escape }}">
                               </a>
                           </div>
                           {% endif %}
                       </div>
                       <div class="post-header">
                           <h1><a class="post__header-link" href="{{content.absolute_url}}">{{ content.name }}</a></h1>
                           <div id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
                               by
                               {%if content.blog_post_author %}
                               <a class="author-link" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_post_author.display_name }}</a> {{ content.publish_date_localized }}
                               {% endif %}
                           </div>
                       </div>
                       {{ content.post_list_content|safe }}
                       {% if content_group.show_summary_in_listing %}
                       <a class="read-more" href="{{ content.absolute_url }}">Read more</a>
                       {% endif %}
                       {% else %}
                       <h2 class="post-listing-simple"><a href="{{content.absolute_url}}">{{ content.name }}</a></h2>
                       {% endif %}
                   </article>
                   {% endfor %}
               </div>
               {% if not simple_list_page %}
               <div class="btn-wrap btn-block--centered">
                   {% if last_page_num %}
                   <a class="btn-primary btn-posts btn-posts--next" href="{{ blog_page_link(last_page_num) }}"><span>Newer posts</span></a>
                   {% endif %}
                   {% if next_page_num %}
                   <a class="btn-primary btn-posts btn-posts--prev" href="{{ blog_page_link(next_page_num) }}"><span>Older posts</span></a>
                   {% endif %}
               </div>
               <a class="link-secondary" href="{{ blog_all_posts_url(group.id) }}">View full list of blog posts</a>
               {% endif %}
           </div>
       </div>
   </div>
</div>
.blog-section {
  margin: 100px 0 200px 0;
}
.post-listing  .hs-blog-social-share {
  display: none;
}
@media (max-width: 858px) {
  .blog-section {
    margin: 40px 0 0 0;
  }
}
.blog-section .link-secondary {
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 24px;
}
@media (max-width: 858px) {
  .blog-section .link-secondary {
    margin-top: 15px;
  }
}
.blog-section .btn-block--centered {
  margin: 0 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-section article {
  margin-bottom: 63px;
}
@media (max-width: 858px) {
  .blog-section article {
    margin-bottom: 37px;
  }
}
.blog-section article h1 {
  color: #232d37;
  font-weight: 600;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 0.3px;
  max-width: 667px;
  width: 100%;
  line-height: 40px;
  margin: 0 0 10px;
  font-family: "Open Sans", Arial, sans-serif;
}
@media (max-width: 858px) {
  .blog-section article h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
.blog-section article h6 {
  color: #87919b;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.blog-section article h6 a {
  color: #87919b;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-decoration: none;
}
.blog-section article img {
  max-width: none;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
  margin-bottom: 25px;
}
.blog-section .post-content {
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin: 20px 0 0;
  font-size: 16px;
  color: #232d37;
}
.blog-section article p span {
  font-size: 16px;
}
.blog-section article p a {
  font-size: 16px;
  text-decoration: none;
}
@media (max-width: 858px) {
  .blog-section .post-content {
    font-size: 14px;
  }
}
@media (max-width: 858px) {
  .blog-section .post-content a {
    font-size: 14px;
  }
}
.blog-section article p a:hover,
.blog-section article p a:focus,
.blog-section article p a:active {
  color: #0096e1;
  text-decoration: underline;
}
@media (max-width: 858px) {
  .blog-section article p {
    font-size: 14px;
    line-height: 20px;
  }
}
.post-listing-wrapper {
  max-width: 820px;
  width: 100%;
}
@media (max-width: 858px) {
  .post-listing-wrapper {
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 50px;
  }
}
.post-listing {
  margin-bottom: 93px;
}
@media (max-width: 858px) {
  .post-listing {
    margin-bottom: 45px;
  }
}
.read-more {
  margin: 12px 0;
  font-size: 16px;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #00aaff;
  text-decoration: none;
}
.read-more:hover,
.read-more:focus,
.read-more:active {
  color: #0096e1;
  text-decoration: underline;
}
@media (max-width: 858px) {
  .read-more {
    font-size: 14px;
  }
}
.btn-posts {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  min-width: 121px;
  margin-top: 30px;
  font-family: "Open Sans", Arial, sans-serif;
}

@media (max-width: 850px) {
  .btn-posts {
    margin-top: 10px;
  }
}
.btn-posts:before {
  content: '';
  display: inline-block;
  position: absolute;
  background: url(https://cdn2.hubspot.net/hubfs/419889/images2019/arrow-left.svg);
  width: 8px;
  height: 12px;
  top: 12px;
}
.btn-posts--next {
  padding-left: 39px;
}
@media (max-width: 450px) {
  .btn-posts--next {
    padding-left: 24px;
  }
}
.btn-posts--next:before {
  left: 20px;
}
@media (max-width: 450px) {
  .btn-posts--next:before {
    left: 10px;
  }
}
.btn-posts--prev {
  padding-right: 39px;
}
@media (max-width: 450px) {
  .btn-posts--prev {
    padding-right: 24px;
  }
}
.btn-posts--prev:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 20px;
}
@media (max-width: 450px) {
  .btn-posts--prev:before {
    right: 10px;
  }
}
.post-search {
  display: none;
}
@media (max-width: 858px) {
  .post-search {
    display: block;
  }
}
.post-search .form-control {
  width: 100%;
  max-width: 100%;
}
.post__header-link {
  color: #232d37;
  text-decoration: none;
  font-family: "Open Sans", Arial, sans-serif;
}

.post__header-link:hover,
.post__header-link:focus,
.post__header-link:active {
  color: #232d37 !important;
}
.post-header #hubspot-author_data {
  text-decoration: none;
  color: #87919b;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.blog-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
a.author-link {
  color: #87919b;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-decoration: none;
}

.hs-featured-image-wrapper {
    margin-bottom: 23px;
}

.post__item-link {
  border: 0;
  overflow: hidden;
  display: block;
  border-radius: 6px;
}

/* List of posts */
.post-listing--simple {
  margin-top: -130px;
}
@media screen and (max-width: 858px) {
  .post-listing--simple {
    margin-top: -45px;
  }
}
.post-listing--simple .post-list-item {
  margin-bottom: 12px;
  display: block;
}
.post-listing--simple .post-list-item a {
  padding-left: 20px;
  position: relative;
  color: #232d37;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  display: inline-block;
}
.post-listing--simple .post-list-item .info-content__icon {
  left: 0;
  top: 8px;
}


#leadinModal-664747 .leadinModal-content {
  bottom: 30px;
  border-radius: 6px;
  box-shadow: none;
  right: 50%;
  transform: translateX(585px);
  transition: all 0s linear;
  animation: none;
}

@media (max-width: 1220px) {
  #leadinModal-664747 .leadinModal-content {
    right: 0;
    transform: translateX(0);
  }
}

@media (max-width: 858px) {
  #leadinModal-664747 .leadinModal-content {
    bottom:0;
    border-radius:0;
    width: 100%!important;
  }
}

@media (max-width: 858px) {
#leadinModal-664747 .advance-wrapper {
  margin: 0 auto!important;
  text-align: center;
  }
}

@media (max-width: 858px) {
#leadinModal-664747 h4 {
  margin: 0 auto!important;
  text-align: center;
  }
}

#leadinModal-664747 .leadin-preview-wrapper {
   padding: 35px 30px 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}

@media (max-width: 858px) {
#leadinModal-664747 .leadin-preview-wrapper {
  padding: 30px 0 20px;
  }
}

#leadinModal-664747 h4 {
  margin:0;
  font-weight: 400;
  font-size: 20px;
  font-family: "Open Sans", Arial, sans-serif;
}

#leadinModal-664747 .leadin-button {
  border: 1px solid #fff;
  color: #fff!important;
  white-space: nowrap;
  margin-top: 17px;
  font-weight: 400;
  background-color: transparent!important;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0 20px;
  margin: 0 10px;
  line-height: 36px;
  display: inline-block;
  width: auto;
  letter-spacing: .23px;
  line-height: 36px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  height: 36px;
  margin-top: 10px;
  transition: all .2s ease-out;
}

#leadinModal-664747 .leadin-button:hover {
  color: #0af!important;
  background-color: #fff!important;
}

#leadinModal-664747 .leadinModal-description-664747 {
  margin:0;
  font-weight: 400;
  font-size: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: -10px;
}

@media (max-width: 858px) {
  #leadinModal-664747 .leadinModal-description-664747 {
   display: none;
  }
}

#leadinModal-664747 .leadinModal-content{
   width: 276px;
}

#leadinModal-664747 .leadinModal-close {
  top: 2px;
  right: 2px;
  border-radius: 50%;
  transition: all .2s ease-out;
}

#leadinModal-664747 .leadinModal-close:before {
  padding-top: 8px;
  padding-right: 13px;
  transition: all .2s ease-out;
}

#leadinModal-664747 .leadinModal-close:hover {
   background-color: #f5f5f5;
}

#leadinModal-664747 .leadinModal-close:hover:before {
   color: #0af!important;
}

#leadin-content-form-wrapper {
  padding: 10px;
}

#leadinModal-664747 .leadin-button-wrapper .leadin-submit {
  color: #ffffff;
  border-style: hidden;
  border-color: #00aaff;
  background-color: #00aaff!important;
}

#leadinModal-664747 .leadin-button-wrapper .leadin-submit:hover,
#leadinModal-664747 .leadin-button-wrapper .leadin-submit:focus {
  color: #ffffff;
  border-color: #46c3ff;
  background-color: #46c3ff!important;
  text-decoration: none;
}
 //-->
    
    <aside class="right-panel">
    <div class="wrap">
        <!--Search-->
        <form class="search-form" enctype="multipart/form-data" id="search_form">
            <input class="search-submit" type="submit" value="">
            <input class="form-control typeahead" placeholder="Search" type="text">
        </form>
        
        <article class="info-block">
            <h4>Featured posts</h4>
            <div class="info-content__list">
                <div class="info-content__item">
                    <a href="#" onclick="return false" class="info-content__link">
                        <i class="info-content__icon icon-sys-arrow-right"></i> High white blood cell count? What you should know
                    </a>
                    <div class="info-content__block" data-title="High white blood cell count? What you should know">
                        High white blood cell count? What you should know High white blood cell count? What you should know High white blood
                        cell count? What you should know High white blood cell count? What you should know
                    </div>
                </div>
                <div class="info-content__item">
                    <a href="#" onclick="return false" class="info-content__link">
                        <i class="info-content__icon icon-sys-arrow-right"></i> Can Vitamin D Restore Low Testosterone Levels?
                    </a>
                    <div class="info-content__block" data-title="Can Vitamin D Restore Low Testosterone Levels?">
                        Can Vitamin D Restore Low Testosterone Levels? Can Vitamin D Restore Low Testosterone Levels? Can Vitamin D Restore
                        Low Testosterone Levels? Can Vitamin D Restore Low Testosterone Levels?
                    </div>
                </div>
                <div class="info-content__item">
                    <a href="#" onclick="return false" class="info-content__link">
                        <i class="info-content__icon icon-sys-arrow-right"></i> Way Protein's Impact on Mood and Stress
                    </a>
                    <div class="info-content__block" data-title="Way Protein's Impact on Mood and Stress">
                        Way Protein's Impact on Mood and Stress Way Protein's Impact on Mood and Stress Way Protein's Impact on Mood and
                        Stress Way Protein's Impact on Mood and Stress
                    </div>
                </div>
            </div>
        </article>
        
        <article class="info-block">
            <h4>Categories</h4>
            <div class="info-content">
                <ul>
                    <li>Nutrition
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/nutrition">(54)</a>
                    </li>
                    <li>Biomarkers
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/biomarkers">(35)</a>
                    </li>
                    <li>Glucose
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/glucose">(26)</a>
                    </li>
                    <li>Insidetracker
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/insidetracker">(23)</a>
                    </li>
                    <li>Protein
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/protein">(23)</a>
                    </li>
                    <li>Carbohydrates
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/carbohydrates">(21)</a>
                    </li>
                    <li>Testosterone
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/testosterone">(20)</a>
                    </li>
                    <li>Exercise
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/exercise">(19)</a>
                    </li>
                    <li>Inflammation
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/inflammation">(19)</a>
                    </li>
                    <li>Performance Plan
                        <a class="link-primary" href="http://blog.insidetracker.com/topic/perfomance-plan">(18)</a>
                    </li>
                </ul>
                <div class="info-content__list">
                    <div class="info-content__item">
                        <a href="#" onclick="return false" class="info-content__link info-content__link--bold">
                            <i class="info-content__icon icon-sys-arrow-right"></i> View all categories
                        </a>
                        <div class="info-content__block" data-title="View all categories">
                            View all categories View all categories View all categories
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
        <article class="info-block">
            <h4>Questions?</h4>
            <div class="info-content">
                <p>
                    Get in touch by phone (800) 513-2359 or email
                    <a class="link-primary" href="mailto:contactus@insidetracker.com">contactus@insidetracker.com</a>
                </p>
                <nav class="soc-block">
                    <h5>Follow us</h5>
                    <a href="http://blog.insidetracker.com/rss.xml" class="rss" target="_blank">
                        <svg id="rss" class="soc_follows" viewBox="0 0 176 176">
                            <g>
                                <g transform="translate(-525 -350)">
                                    <g fill="#ff8200">
                                        <path id="dopva"
                                              d="M561.243 525.908h103.65c19.95 0 36.133-16.183 36.133-36.14v-103.65c0-19.958-16.184-36.132-36.133-36.132h-103.65c-19.96 0-36.138 16.174-36.138 36.132v103.65c0 19.957 16.178 36.14 36.138 36.14z"></path>
                                    </g>
                                </g>
                                <g transform="translate(-525 -350)">
                                    <g fill="#fff">
                                        <path id="dopvb"
                                              d="M572.326 422.072c32.598 0 59.121 26.628 59.121 59.362H614.21c0-11.269-4.362-21.855-12.279-29.804-7.903-7.948-18.418-12.319-29.605-12.319zm.026-30.56c49.375 0 89.547 40.344 89.547 89.944H644.66c0-40.09-32.438-72.704-72.308-72.704zm11.9 89.841c-6.594 0-11.94-5.347-11.94-11.94 0-6.598 5.346-11.94 11.94-11.94 6.592 0 11.94 5.342 11.94 11.94 0 6.593-5.348 11.94-11.94 11.94z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="http://www.facebook.com/pages/InsideTracker-from-Segterra/271094716266705" class="facebook" target="_blank">
                        <svg id="fb" class="soc_follows" viewBox="0 0 177 177">
                            <g>
                                <g transform="translate(-308 -345)">
                                    <g fill="#fff">
                                        <path id="4f30a" d="M364.77 496.42v-130.8h104.64v130.8z"></path>
                                    </g>
                                </g>
                                <g transform="translate(-308 -345)">
                                    <g fill="#fff">
                                        <path id="4f30b" d="M351.46 521.64v-35.03h91.34v35.03z"></path>
                                    </g>
                                </g>
                                <g transform="translate(-308 -345)">
                                    <g fill="#4267b2">
                                        <path id="4f30c"
                                              d="M447.922 345.72H344.27c-19.958 0-36.138 16.174-36.138 36.132V485.5c0 19.962 16.18 36.135 36.138 36.135h59.248v-69.97h-24.04v-27.086h24.04v-19.13h.004c.102-18.33 6.74-24.59 6.74-24.59 9.75-12.669 25.039-12.29 25.039-12.29H459.622v25.507h-16.23c-11.138-.192-12.09 9.235-12.157 11.372h.007v19.131h27.175l-3.324 27.085h-23.851v69.971h16.68c19.956 0 36.133-16.173 36.133-36.135V381.852c0-19.958-16.177-36.133-36.133-36.133z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="http://twitter.com/#!/insidetracker" class="twitter" target="_blank">
                        <svg id="tw" class="soc_follows" viewBox="0 0 177 177">
                            <g>
                                <g transform="translate(-528 -557)">
                                    <g fill="#fff">
                                        <path id="xa4xa" d="M542.46 703.48V577.56h143.66v125.92z"></path>
                                    </g>
                                </g>
                                <g transform="translate(-528 -557)">
                                    <g fill="#38a1f3">
                                        <path id="xa4xb"
                                              d="M668.152 557.258H564.514c-19.96 0-36.143 16.183-36.143 36.145V697.05c0 19.947 16.182 36.133 36.143 36.133h103.638c19.961 0 36.144-16.186 36.144-36.133V593.403c0-19.962-16.183-36.145-36.144-36.145zm-4.417 65.754c.054 1.007.07 2.022.07 3.04 0 31.106-23.676 66.985-66.98 66.985-13.297 0-25.668-3.898-36.084-10.583 1.848.219 3.718.329 5.612.329 11.031 0 21.184-3.76 29.238-10.077-10.294-.191-18.985-6.995-21.987-16.36 1.435.278 2.907.436 4.427.436 2.144 0 4.231-.296 6.195-.832-10.76-2.155-18.879-11.67-18.879-23.078 0-.101 0-.195.006-.301a23.36 23.36 0 0 0 10.665 2.949c-6.328-4.226-10.479-11.434-10.479-19.6a23.5 23.5 0 0 1 3.186-11.824c11.604 14.24 28.963 23.603 48.525 24.599a24.068 24.068 0 0 1-.604-5.376c0-12.99 10.533-23.534 23.534-23.534 6.78 0 12.88 2.86 17.184 7.44a47.401 47.401 0 0 0 14.951-5.72 23.69 23.69 0 0 1-10.353 13.023 47.226 47.226 0 0 0 13.513-3.706 47.725 47.725 0 0 1-11.74 12.19z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="http://www.linkedin.com/company/segterra" class="linkedin" target="_blank">
                        <svg id="lin" class="soc_follows" viewBox="0 0 177 177">
                            <g>
                                <g transform="translate(-310 -558)">
                                    <g fill="#fff">
                                        <path id="bnfca"
                                              d="M445.688 567.072H351.99c-18.043 0-32.67 14.632-32.67 32.671v93.702c0 18.046 14.627 32.665 32.67 32.665h93.7c18.045 0 32.665-14.619 32.665-32.665v-93.702c0-18.039-14.62-32.67-32.666-32.67z"></path>
                                    </g>
                                </g>
                                <g transform="translate(-310 -558)">
                                    <g fill="#0077b5">
                                        <path id="bnfcb"
                                              d="M450.662 558.632c19.96 0 36.133 16.184 36.133 36.138v103.65c0 19.96-16.172 36.132-36.133 36.132H347.017c-19.958 0-36.14-16.172-36.14-36.133V594.77c0-19.954 16.182-36.138 36.14-36.138zm-96.4 57.59c7.77 0 14.089-6.307 14.089-14.089 0-7.788-6.318-14.11-14.09-14.11-7.794 0-14.094 6.322-14.094 14.11 0 7.782 6.3 14.09 14.095 14.09zm12.158 88.938v-78.24H342.1v78.24zm91.095-42.914c0-21.063-4.547-37.262-29.175-37.262-11.828 0-19.762 6.48-23.006 12.636H405v-10.704h-23.33v78.244h24.31v-38.699c0-10.205 1.932-20.102 14.584-20.102 12.485 0 12.64 11.68 12.64 20.752v38.05h24.31z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="http://www.youtube.com/user/InsideTracker2?feature=watch" class="youtube" target="_blank">
                        <svg id="yt" class="soc_follows" viewBox="0 0 177 177">
                            <g>
                                <g transform="translate(-524 -144)">
                                    <g fill="#ed3833">
                                        <path id="u58ja"
                                              d="M560.661 320.71h103.65c19.95 0 36.133-16.183 36.133-36.14V180.92c0-19.958-16.184-36.132-36.133-36.132h-103.65c-19.96 0-36.138 16.174-36.138 36.132v103.65c0 19.957 16.178 36.14 36.138 36.14z"></path>
                                    </g>
                                </g>
                                <g transform="translate(-524 -144)">
                                    <g fill="#fff">
                                        <path id="u58jb"
                                              d="M577.115 271.617h72.238c14.034 0 18.837-11.381 18.837-25.424v-26.887c0-14.043-4.203-25.422-18.246-25.422h-73.43c-14.039 0-19.74 11.379-19.74 25.422v26.887c0 14.043 6.3 25.424 20.341 25.424zm24.202-53.817v-.24l30.348 15.841-30.348 15.835z"></path>
                                    </g>
                                </g>
                                <g transform="translate(-524 -144)">
                                    <g fill="#fff">
                                        <path id="u58jc" d="M631.665 233.4l-30.348-15.84v.209l2.344 1.018z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/InsideTracker/" class="instagram" target="_blank">
                        <svg id="ig" class="soc_follows" xmlns="http://www.w3.org/2000/svg" width="55" height="54" viewBox="0 0 55 54">
                            <defs>
                                <radialGradient id="ktsva" cx="16.41" cy="57.67" r="70.73" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#ffd879" />
                                    <stop offset=".1" stop-color="#ffd879" />
                                    <stop offset=".45" stop-color="#e45f58" />
                                    <stop offset=".68" stop-color="#d22a9c" />
                                    <stop offset="1" stop-color="#6968df" />
                                </radialGradient>
                                <radialGradient id="ktsvb" cx="17.52" cy="54.59" r="63.66" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#ffd879" />
                                    <stop offset=".1" stop-color="#ffd879" />
                                    <stop offset=".45" stop-color="#e45f58" />
                                    <stop offset=".68" stop-color="#d22a9c" />
                                    <stop offset="1" stop-color="#6968df" />
                                </radialGradient>
                                <radialGradient id="ktsvc" cx="17.52" cy="54.59" r="63.66" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#ffd879" />
                                    <stop offset=".1" stop-color="#ffd879" />
                                    <stop offset=".45" stop-color="#e45f58" />
                                    <stop offset=".68" stop-color="#d22a9c" />
                                    <stop offset="1" stop-color="#6968df" />
                                </radialGradient>
                            </defs>
                            <g>
                                <g>
                                    <g>
                                        <path fill="#fff"
                                              d="M13.315 50.87h28.302c5.448 0 9.867-4.418 9.867-9.868V12.7c0-5.45-4.419-9.867-9.867-9.867H13.315c-5.45 0-9.868 4.417-9.868 9.867v28.302c0 5.45 4.417 9.868 9.868 9.868z" />
                                    </g>
                                    <g>
                                        <path fill="url(#ktsva)"
                                              d="M11.742.164C5.687.164.779 5.075.779 11.13v31.447c0 6.053 4.908 10.962 10.963 10.962H43.19c6.053 0 10.962-4.909 10.962-10.962V11.13C54.152 5.075 49.243.164 43.19.164z" />
                                    </g>
                                    <g>
                                        <path fill="url(#ktsvb)"
                                              d="M27.952 17.373a9.54 9.54 0 0 1 9.541 9.543c0 5.267-4.272 9.541-9.541 9.541-5.272 0-9.544-4.274-9.544-9.541a9.541 9.541 0 0 1 9.544-9.543zm8.881-2.577a2.428 2.428 0 0 1 0 4.855 2.428 2.428 0 0 1 0-4.855zm-14.985-2.581c-4.982 0-9.021 4.039-9.021 9.019V32.47a9.019 9.019 0 0 0 9.021 9.019h11.236a9.018 9.018 0 0 0 9.018-9.019V21.234c0-4.98-4.039-9.019-9.018-9.019z" />
                                    </g>
                                    <g>
                                        <path fill="url(#ktsvc)"
                                              d="M22.209 26.916a5.742 5.742 0 0 0 11.484 0 5.74 5.74 0 0 0-5.741-5.742 5.74 5.74 0 0 0-5.743 5.742z" />
                                    </g>
                                    <g>
                                        <path fill="#fff"
                                              d="M20.515 44.965c-6.166 0-11.163-4.997-11.163-11.16V19.9c0-6.166 4.997-11.163 11.163-11.163h13.903c6.165 0 11.162 4.997 11.162 11.163v13.903c0 6.164-4.997 11.161-11.162 11.161zM12.828 32.47a9.02 9.02 0 0 0 9.02 9.02h11.236a9.02 9.02 0 0 0 9.019-9.02V21.234c0-4.979-4.04-9.02-9.02-9.02H21.85c-4.982 0-9.021 4.041-9.021 9.02z" />
                                    </g>
                                    <g>
                                        <path fill="#fff"
                                              d="M27.952 36.458c-5.271 0-9.544-4.274-9.544-9.542 0-5.272 4.273-9.542 9.544-9.542a9.54 9.54 0 0 1 9.542 9.542c0 5.268-4.272 9.542-9.542 9.542zm0-15.284a5.74 5.74 0 1 0 0 11.482 5.742 5.742 0 0 0 0-11.482z" />
                                    </g>
                                    <g>
                                        <path fill="#fff" d="M36.833 19.65a2.428 2.428 0 0 0 2.428-2.426 2.426 2.426 0 1 0-2.428 2.427z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </nav>
            </div>
        </article>
    </div>
</aside>

</div>

<!--<div class="container-content">-->
    
    
<!--</div>-->
<footer class="footer-new">
    <div class="container">
        <div class="footer-new__wrapper">
            <ul class="menu-footer hide-tablet">
                <li class="footer-new__title">Company</li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/about/" class="link-secondary-light">
                        About
                    </a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/terms-of-service/" class="link-secondary-light">
                        Terms
                    </a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/team/" class="link-secondary-light">Team</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/press-page/" class="link-secondary-light">In the press</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/policy-privacy/" class="link-secondary-light">Privacy Policy</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/research-consent/" class="link-secondary-light">DNA Research Consent</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/product-consent/" class="link-secondary-light">Product Consent</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/#homezone-steps" class="link-secondary-light">How does it work</a>
                </li>
            </ul>
            <ul class="menu-footer hide-tablet">
                <li class="footer-new__title">Product</li>
                <li class="menu-footer__item">
                    <a href="https://support.insidetracker.com/supportcenter" class="link-secondary-light">
                        FAQ
                    </a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/tour/" class="link-secondary-light">Tour</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/science/" class="link-secondary-light">Science</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/demo/" class="link-secondary-light">
                        Live Demo
                    </a>
                </li>
                <li class="menu-footer__item">
                    <a href="http://blog.insidetracker.com/" class="link-secondary-light">Blog</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/testimonial/" class="link-secondary-light">Testimonials</a>
                </li>
                <li class="menu-footer__item">
                    <a href="http://info.insidetracker.com/partnerships" class="link-secondary-light">Partner</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/public/landing/pro-sports/" class="link-secondary-light">Teams</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/public/landing/military/" class="link-secondary-light">Protective services</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/public/landing/fit/" class="link-secondary-light">Functional Fitness</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/public/landing/spartan-artwork/" class="link-secondary-light">Spartan</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/public/landing/endurance/" class="link-secondary-light">Endurance</a>
                </li>
            </ul>
            <ul class="menu-footer hide-tablet">
                <li class="footer-new__title">Store</li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/customer/onboarding/compare-plans/" class="link-secondary-light">
                        Compare
                    </a>
                </li>
                
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/ultimate/" class="link-secondary-light">Ultimate</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/vitality/" class="link-secondary-light">Vitality</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/high-performance/" class="link-secondary-light">High Performance</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/innerage/" class="link-secondary-light">InnerAge</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/essentials/" class="link-secondary-light">Essentials</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/diy/" class="link-secondary-light">Do It Yourself</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/home-kit/" class="link-secondary-light">Home Kit</a>
                </li>
                <li class="menu-footer__item">
                    <a href="https://www.insidetracker.com/dna-analysis/" class="link-secondary-light">DNA Analysis</a>
                </li>
                <li class="menu-footer__item">
                    <a href="http://info.insidetracker.com/how-to-redeem-your-gift-card" class="link-secondary-light">Gift Card</a>
                </li>
            </ul>
            
            <div class="footer-contacts">
                <div class="contacts-icons-wrap">
                    <p class="footer-new__title hide-tablet">Subscribe</p>
                    <a class="contacts-icons__link" href="http://blog.insidetracker.com/rss.xml">
                        <svg role="img" class="contacts-icons__icon">
                            <use xlink:href="assets/img/footer.svg#rss"></use>
                        </svg>
                        <!--                 Change to hubspot attached img
                        <img class="social-icon" src="{{ module_asset_url("feed-icon.svg") }}" alt="InsideTracker Feed">-->
                    </a>
                    <a class="contacts-icons__link" href="http://www.facebook.com/pages/InsideTracker-from-Segterra/271094716266705">
                        <svg role="img" class="contacts-icons__icon">
                            <use xlink:href="assets/img/footer.svg#fb"></use>
                        </svg>
                        <!--                 Change to hubspot attached img
                        <img class="social-icon" src="{{ module_asset_url("facebook-icon.svg") }}" alt="InsideTracker Facebook">-->
                    </a>
                    <a class="contacts-icons__link" href="https://twitter.com/insidetracker">
                        <svg role="img" class="contacts-icons__icon">
                            <use xlink:href="assets/img/footer.svg#tw"></use>
                        </svg>
                        <!--                 Change to hubspot attached img
                        <img class="social-icon" src="{{ module_asset_url("twitter-icon.svg") }}" alt="InsideTracker Twitter"-->
                    </a>
                    <a class="contacts-icons__link" href="http://www.linkedin.com/company/segterra">
                        <svg role="img" class="contacts-icons__icon">
                            <use xlink:href="assets/img/footer.svg#in"></use>
                        </svg>
                        <!--                 Change to hubspot attached img
                        <img class="social-icon" src="{{ module_asset_url("linkedin-icon.svg") }}" alt="InsideTracker LinkedIn">-->
                    </a>
                    <a class="contacts-icons__link" href="http://www.youtube.com/user/InsideTracker2?feature=watch">
                        <svg role="img" class="contacts-icons__icon">
                            <use xlink:href="assets/img/footer.svg#yotube"></use>
                        </svg>
                        <!--                 Change to hubspot attached img
                        <img class="social-icon" src="{{ module_asset_url("yotube.svg") }}" alt="InsideTracker youtube">-->
                    </a>
                    <a class="contacts-icons__link" href="https://www.instagram.com/InsideTracker">
                        <img class="social-icon" src="assets/img/inst.svg" alt="InsideTracker instagram">
                        <!--                 Change to hubspot attached img
                        <img class="social-icon" src="{{ module_asset_url("inst.svg") }}" alt="InsideTracker instagram">-->
                    </a>
                </div>
                <div class="footer-contacts-block">
                    <p class="footer-new__title hide-tablet">Help making a purchase</p>
                    <a class="link-secondary-light" href="mailto:contactus@insidetracker.com">contactus@insidetracker.com</a>
                    <p></p>
                    <a href="tel:8005132359" class="link-secondary-light">(800) 513-2359</a>
                    <a href="tel:8005132359" class="link-secondary-light link-secondary-light--sms">Send us a text</a>
                </div>
                <div class="footer-contacts-block">
                    <p class="footer-new__title hide-tablet">Help with your account</p>
                    <a class="link-secondary-light" href="https://support.insidetracker.com/supportcenter">Support center</a>
                </div>
                <p class="footer-contacts__subtitle">Support is available Mon–Fri, 9am–5pm EST</p>
            </div>
        </div>
        
        <p class="copyright copyright-text">
            © 2009-2019 Segterra, Inc. All rights reserved. InsideTracker is a personalized nutrition model by
            Segterra.<br class="hide-tablet" /> Technology protected by U.S. Patent 8762167 and other patent pending applications. </p>
    </div>
</footer>


<!--    Giveaway
<section class="steps" id="steps">
    <div class="container">
        <h2 class="section-title">How does it work?</h2>
        <ul class="step-list">
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon">
                        <use xlink:href="assets/img/homepage.svg#step1" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 1</p>
                <h4 class="step-list__title">Pick your plan</h4>
                <p class="step-list__desc">You're ready to change. Pick the best plan to help you do it. Have your blood drawn at a lab, at
                    home, or upload your existing blood and DNA test data.</p>
            </li>
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon step-list__icon--2">
                        <use xlink:href="assets/img/homepage.svg#step2" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 2</p>
                <h4 class="step-list__title">Tell us about yourself</h4>
                <p class="step-list__desc">How do you live your life? From sleep habits to food preferences, your answers help to power
                    ultra-personalized recommendations.</p>
            </li>
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon step-list__icon--3">
                        <use xlink:href="assets/img/homepage.svg#step3" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 3</p>
                <h4 class="step-list__title">Spring into action</h4>
                <p class="step-list__desc">We'll help you set up a goal-oriented Action Plan with nutrition, fitness, and lifestyle
                    recommendations. You'll use it to change your body for the better.</p>
            </li>
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon">
                        <use xlink:href="assets/img/homepage.svg#step4" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 4</p>
                <h4 class="step-list__title">Track your progress</h4>
                <p class="step-list__desc">As your body improves, your blood biomarkers change, too. Retest every 3 months to see what's
                    working – and what's not!</p>
            </li>
        </ul>
        <div class="text-align_center">
            <a class="btn btn_primary">Take a tour</a>
        </div>
    </div>
</section>

<section class="welcome" id="welcome">
    <div class="promo-img">
        <img alt="Post an amazing photo here" src="assets/img/giveaway.jpg">
    </div>
    <div class="promo-text">
        <div class="promo-text__wrapper">
            <h1 class="promo__title">Descriptive header</h1>
            <h3 class="subtitle subtitle_promo">Single line in sentence case</h3>
            <p class="promo__desc"> Whether you are looking to increase your speed, strength, overall health, or are looking to set records
                in the box, InsideTracker is here to help. We offer ultra-personalized and science-driven recommendations to help you
                with:</p>
            <ul class="promo-list">
                <li class="promo-list__item">Nutrition</li>
                <li class="promo-list__item">Supplementation</li>
                <li class="promo-list__item">Overtraining</li>
                <li class="promo-list__item">Health & wellness optimization</li>
            </ul>
            <p class="promo__contacts">
                <span class="promo__contacts_bold">Interested in learning more?</span>
                Visit
                <a class="promo__link" href="www.insidetracker.com">www.insidetracker.com/
                    <span>[page]</span>
                </a>
                or email
                <span>[Name]</span>
                at
                <a href="mailto:email@insidetracker.com">email@insidetracker.com</a>
            </p>
        </div>
    </div>
</section>

<section class="steps" id="steps">
    <div class="container">
        <h2 class="section-title">How does it work?</h2>
        <ul class="step-list">
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon">
                        <use xlink:href="assets/img/homepage.svg#step1" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 1</p>
                <h4 class="step-list__title">Pick your plan</h4>
                <p class="step-list__desc">You're ready to change. Pick the best plan to help you do it. Have your blood drawn at a lab, at
                    home, or upload your existing blood and DNA test data.</p>
            </li>
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon step-list__icon--2">
                        <use xlink:href="assets/img/homepage.svg#step2" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 2</p>
                <h4 class="step-list__title">Tell us about yourself</h4>
                <p class="step-list__desc">How do you live your life? From sleep habits to food preferences, your answers help to power
                    ultra-personalized recommendations.</p>
            </li>
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon step-list__icon--3">
                        <use xlink:href="assets/img/homepage.svg#step3" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 3</p>
                <h4 class="step-list__title">Spring into action</h4>
                <p class="step-list__desc">We'll help you set up a goal-oriented Action Plan with nutrition, fitness, and lifestyle
                    recommendations. You'll use it to change your body for the better.</p>
            </li>
            <li class="step-list__item">
                <div class="step-list__icon-wrapper">
                    <svg class="icon step-list__icon">
                        <use xlink:href="assets/img/homepage.svg#step4" />
                    </svg>
                </div>
                <p class="step-list__counter">Step 4</p>
                <h4 class="step-list__title">Track your progress</h4>
                <p class="step-list__desc">As your body improves, your blood biomarkers change, too. Retest every 3 months to see what's
                    working – and what's not!</p>
            </li>
        </ul>
        <div class="text-align_center">
            <a class="btn btn_primary">Take a tour</a>
        </div>
    </div>
</section>

<section class="contacts" id="contacts">
    <div class="container">
        <h3 class="subtitle subtitle_contacts">Get more from InsideTracker</h3>
        <form action="action.php" class="form form__contacts" method="post">
            <label for="firstname">First name*</label>
            <p>
                <input id="firstname" name="firstname" placeholder="First name*" required type="text">
            </p>
            <label for="lastname">Last name*</label>
            <p>
                <input id="lastname" name="lastname" placeholder="Last name*" required type="text">
            </p>
            <label for="email">Email*</label>
            <p>
                <input id="email" name="email" placeholder="Email*" required type="text">
            </p>
            <label for="goal">What is your main goal?</label>
            <p class="select-wrapper">
                <svg class="icon icon-select">
                    <use xlink:href="assets/sprite.svg#arrow-down" />
                </svg>
                <select class="goal" id="goal" name="goal">
                    <option disabled selected value="">Please select</option>
                    <option value="I love it">I love it</option>
                    <option value="I really love it!">I really love it!</option>
                </select>
            </p>
            <div class="text-align_center">
                <button class="btn btn_primary" disabled id="submitForm" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>

<section class="partnership" id="partnership">
    <div class="container">
        <h5 class="partnership__title">In partnership with</h5>
        <div class="partnership__logo">
            <img alt="Logo" src="assets/img/giveaway.jpg">
        </div>
    </div>
</section>

-->

<script src="script/hubspot.js"></script>
</body>
</html>
