<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>segterra frontend</title>
    @@include('../../modules/_head.html')
    <link href="@@webRoot/style/_links.css" rel="stylesheet" />
</head>
<body>

<!--Links light background-->

<div class="links-table links-table--light">
    <div class="links-row">
        <a class="links-item link-primary" href="#" onclick="return false">Primary link</a>
    </div>
    <div class="links-row">
        <a class="links-item link-secondary" href="#" onclick="return false">Secondary link</a>
    </div>
</div>
<!--Links dark background-->
<div class="links-table links-table--dark">
    
    <div class="links-row">
        <a class="links-item link-white" href="#" onclick="return false">Primary menu link</a>
    </div>
    <div class="links-row">
        <a class="links-item link-secondary-light" href="#" onclick="return false">Secondary menu link</a>
    </div>
</div>

</body>
</html>
