<div class="card">
    <div class="card-img"></div>
    <div class="card__content">
        <p class="card__title">Daily action listed over two lines</p>
        <p class="card__caption"><span class="card__caption-days">0</span> of 0 suggested days per week</p>
        <ul class="card__days">
            <li class="card__days-item">
                <button class="btn_card-day">
                    <span class="card__days-item-name">Su</span>
                    <span class="card__days-item-date">mm/md</span>
                    <svg class="icon icon-checked">
                        <use xlink:href="assets/sprite.svg#icon-checked"/>
                    </svg>
                </button>
            </li>
            <li class="card__days-item">
                <button class="btn_card-day">
                    <span class="card__days-item-name">M</span>
                    <span class="card__days-item-date hide">mm/md</span>
                    <svg class="icon icon-checked">
                        <use xlink:href="assets/sprite.svg#asset"/>
                    </svg>
                </button>
            </li>
            <li class="card__days-item">
                <button class="btn_card-day">
                    <span class="card__days-item-name">Tu</span>
                    <span class="card__days-item-date hide">mm/md</span>
                    <svg class="icon icon-checked">
                        <use xlink:href="assets/sprite.svg#icon-checked"/>
                    </svg>
                </button>
            </li>
            <li class="card__days-item">
                <button class="btn_card-day checked">
                    <span class="card__days-item-name">We</span>
                    <span class="card__days-item-date hide">mm/md</span>
                    <svg class="icon icon-checked">
                        <use xlink:href="assets/sprite.svg#icon-checked"/>
                    </svg>
                </button>
            </li>
            <li class="card__days-item">
                <button class="btn_card-day">
                    <span class="card__days-item-name">Th</span>
                    <span class="card__days-item-date hide">mm/md</span>
                    <svg class="icon icon-checked">
                        <use xlink:href="assets/sprite.svg#icon-checked"/>
                    </svg>
                </button>
            </li>
            <li class="card__days-item">
                <button class="btn_card-day">
                    <span class="card__days-item-name">f</span>
                    <span class="card__days-item-date hide">mm/md</span>
                    <svg class="icon icon-checked">
                        <use xlink:href="assets/sprite.svg#icon-checked"/>
                    </svg>
                </button>
            </li>
            <li class="card__days-item">
                <button class="btn_card-day">
                    <span class="card__days-item-name">Sa</span>
                    <span class="card__days-item-date">mm/md</span>
                    <svg class="icon icon-checked">
                        <use xlink:href="assets/sprite.svg#icon-checked"/>
                    </svg>
                </button>
            </li>
        </ul>
        <div class="card__bottom">
            <button class="btn_card-checkin">Check-in</button>
            <button class="btn_card-details">Details</button>
        </div>
    </div>
</div>