.card {
  width: 270px;
  height: 400px;
  border-radius: 6px;
  overflow: hidden;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.06);
}
.card .hide {
  display: none;
}
.card .card-img {
  width: 100%;
  height: 160px;
  background: url('../assets/img/card/lemon.jpg') no-repeat left top / cover;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px 30px 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}
.card__caption {
  font-size: 12px;
  line-height: 1.91;
  letter-spacing: 0.12px;
  color: #87919B;
}
.card__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 11px;
}
.card__days-item {
  color: #6e7882;
  font-size: 11px;
}
.card__days-item .btn_card-day {
  position: relative;
  background: none;
  padding: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #6e7882;
  border-radius: 50%;
}
.card__days-item .btn_card-day:hover {
  border-color: #64C800;
}
.card__days-item .btn_card-day:hover .card__days-item-date {
  display: inline-block;
  font-weight: 700;
}
.card__days-item .btn_card-day .card__days-item-date {
  position: absolute;
  font-size: 9px;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.card__days-item .btn_card-day .icon-checked {
  display: none;
}
.card__days-item .btn_card-day.checked {
  background: #64C800;
  border: 1px solid #64C800;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
}
.card__days-item .btn_card-day.checked .card__days-item-name,
.card__days-item .btn_card-day.checked .card__days-item-date {
  display: none;
}
.card__days-item .btn_card-day.checked .icon-checked {
  fill: #fff;
  display: block;
}
.card__bottom {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__bottom .btn_card-checkin {
  font-size: 14px;
  font-weight: 600;
  color: #00AAFF;
  background: none;
  border: 1px solid #00AAFF;
  border-radius: 3px;
  padding: 7px 20px;
}
.card__bottom .btn_card-details {
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  color: #00AAFF;
  background: none;
  border: none;
}
.card__back .card-img {
  display: none;
}
