@import "./variables";

html {
    font-size: 14px !important;
    @media only screen  and(max-width: (1170px)) {
        font-size: 13px !important;
    }
    @media only screen  and(max-width: (1020px)) {
        font-size: 12px !important;
    }
    @media only screen  and(max-width: (980px)) {
        font-size: 11px !important;
    }
}

body, html {
    margin:      0;
    padding:     0;
    font-family: "Open Sans", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

ul, p {
    margin:  0;
    padding: 0;
}

li {
    list-style-type: none;
}


//SVG icons

.icon {
    display:      inline-block;
    width:        1em;
    height:       1em;
    stroke-width: 0;
    stroke:       currentColor;
    fill:         currentColor;
}

.no-scroll {
    max-height: 100%;
    overflow:   hidden;
}


//*********************** specially for hubspot
.footer-new ul {
    list-style: none;
    padding:    0;
    margin:     0;
}

.footer-new li {
    list-style: none;
    padding:    0;
    margin:     0;
}

.link-secondary-light + p {
    margin: 0;
}
