@import '../../styles/utils/variables';

.hide {
    display: none;
}

.show {
    display: block;
}

.hide-tablet {
    @media only screen and (max-width: (@tablet)) {
        display: none;
    }
}

.show-tablet {
    @media only screen and (min-width: (@show_tablet)) {
        display: none;
    }
}

.hide-tablet--horizontal {
    @media only screen and (max-width: (@tablet_horizontal)) {
        display: none;
    }
}

.show-tablet--horizontal {
    @media only screen and (min-width: (@show_tablet_horizontal)) {
        display: none;
    }
}

.hide-big_mobile {
    @media only screen and (max-width: (@big_mobile)) {
        display: none;
    }
}

.show-big_mobile {
    @media only screen and (min-width: (@show_big_mobile)) {
        display: none;
    }
}

.hide-mobile {
    display: block;
    @media only screen and (max-width: (@mobile)) {
        display: none;
    }
}

.show-mobile {
    @media only screen and (min-width: (@show_mobile)) {
        display: none;
    }
}

.hidden {
    visibility: hidden;
}
