// General

@mainFont         : "Open Sans", Helvetica, Arial, sans-serif;
@mainFontSize     : 16px;
@mainLineHeight   : 1.5;
@mainFontWeight   : 400;
@mainFontColor    : #232d37;

// Project

@contentWidth     : 1170px; //Check the layout
@contentMargin    : 16px;
@screenWidth      : 1201.98px;

@smallScreenWidth : 768.98px;

@infoFontSize     : 14px;

// Headers

@h1FontSize       : 4.99vw; // 60px
@h1MaxFontSize    : 60px;
@h1MinFontSize    : 45px;

@h2FontSize       : 4.99vw; // 60px
@h2MaxFontSize    : 60px;
@h2MinFontSize    : 45px;

@h3FontSize       : 30px;

@h4FontSize       : 20px; // ??

// Sections

@sectionPadding    : 8.31vw; //100px
@maxSectionPadding : 100px;
@minSectionPadding : 50px;

//Colors

@promo-imgBG      : #c3c8cd;
@darkerBG         : #f5f5f5;

@linkColor        : #00aaff;

@btnPrimaryBG     : #00aaff;
@btnBGHover       : #46c3ff;
@btnFontActive    : #055f8c;
@btnBGActive      : #0096e1;

@inputBorder      : #c3c8cd;