<!--Component Modal-->

<!--Dashboard modal-->
<section class="modal modal--dashboard show">
    <div class="container">
        <div class="modal__wrapper">
            <div id="modal__close" class="modal__close"></div>
            <div class="modal__info">
                <div class="modal__text">
                    <h2 class="heading-38 modal__title">Dashboard modal</h2>
                    <p class="text-16 modal__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. </p>
                    <div class="wrapper-btns">
                        <a href="#" class="btn btn-secondary">Secondary</a>
                        <a href="#" class="btn btn-primary">Primary</a>
                    </div>
                </div>
                <div class="modal__image">
                    <img src="assets/img/card/lemon.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Regular modal-->

<section class="modal modal--regular show">
    <div class="container">
        <div class="modal__wrapper">
            <div class="modal__close"></div>
            <div class="modal__info">
                <div class="modal__text">
                    <h2 class="heading-38 modal__title">Regular Modal</h2>
                    <p class="text-16 modal__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    <div class="wrapper-btns">
                        <a href="#" class="btn btn-secondary">Secondary</a>
                        <a href="#" class="btn btn-primary">Primary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>