<!--Component Modal-->
<div class="test">
    <!--Dashboard modal-->
    <section class="modal modal--dashboard show">
        <div class="container">
            <div class="modal__wrapper">
                <div id="modal__close" class="modal__close"></div>
                <div class="modal__info">
                    <div class="modal__text">
                        <h2 class="heading-38 modal__title">Dashboard modal</h2>
                        <p class="text-16 modal__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. </p>
                        <div class="wrapper-btns wrapper-btns--left">
                            <a href="#" class="btn btn-secondary">Secondary</a>
                            <a href="#" class="btn btn-primary">Primary</a>
                        </div>
                    </div>
                    <div class="modal__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="370" height="240" viewBox="0 0 370 240">
                            <g>
                                <g>
                                    <path fill="#e1e4e6" d="M0 0h370v240H0z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Regular modal-->
    <section class="modal modal--regular show">
        <div class="container">
            <div class="modal__wrapper">
                <div class="modal__close"></div>
                <div class="modal__info">
                    <div class="modal__text">
                        <h2 class="heading-20 modal__title">Regular Modal</h2>
                        <p class="text-14 modal__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <div class="wrapper-btns wrapper-btns--right">
                            <a href="#" class="btn btn-secondary">Secondary</a>
                            <a href="#" class="btn btn-primary">Primary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Informative modal-->
    <section class="modal-info show">
        <div class="container">
            <div class="modal-info__wrapper">
                <div class="text-14 modal-info__text">
                    <span class="text--semibold">Informative modal</span>
                    Lorem ipsum dolor sit amet, consectetur
                    <a href="#" class="text--primary">adipiscing eiusmod</a>
                    tempor.
                </div>
            </div>
        </div>
    </section>
    
    <!--Warning modal -->
    <section class="modal-info modal-info--warning show">
        <div class="container">
            <div class="modal-info__wrapper">
                <div class="text-14 modal-info__text">
                    <span class="text--semibold">Warning modal </span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor.
                </div>
            </div>
        </div>
    </section>
    
    <!--Error modal-->
    <section class="modal-info modal-info--error show">
        <div class="container">
            <div class="modal-info__wrapper">
                <div class="text-14 modal-info__text">
                    <span class="text--semibold">Error modal</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor.
                </div>
            </div>
        </div>
    </section>
</div>
