@import "../../styles/utils/variables";
@import "../../styles/utils/adjustments";

.modal {
    position: absolute;
    top:      150px;
    left:     0;
    right:    0;
    z-index:  2;
    margin:   auto;
    display:  none;
    
    &.show {
        display: block;
    }
    
    &__wrapper {
        position:         relative;
        border-radius:    9px;
        border:           1px solid #e1e4e6;
        background-color: #ffffff;
        padding:          58px 58px 58px 58px;
    }
    
    &__info {
        display:         flex;
        justify-content: center;
    }
    
    &__text {
        flex-basis:    65%;
        padding-right: 60px;
        height:        100%;
        min-height:    240px;
    }
    
    &__image {
        flex-basis: 35%;
        
        img {
            width:      100%;
            max-width:  500px;
            max-height: 240px;
            height:     100%;
        }
    }
    
    &__title {
        font-weight:    400;
        margin:         0;
        line-height:    1;
        padding-bottom: 30px;
    }
    
    &__description {
        padding-bottom: 34px;
    }
    
    &__close {
        position:      absolute;
        text-align:    center;
        right:         0;
        top:           0;
        width:         44px;
        height:        44px;
        line-height:   44px;
        border-radius: 50%;
        transition:    background-color 0.2s ease-in-out;
        
        &:hover {
            background-color: #f5f5f5;
        }
        
        &:before, &:after {
            position:         absolute;
            left:             48%;
            top:              38%;
            content:          ' ';
            height:           12px;
            width:            2px;
            background-color: @primary;
        }
        
        &:before {
            transform: rotate(45deg);
        }
        
        &:after {
            transform: rotate(-45deg);
        }
    }
}

.wrapper-btns {
    display:     flex;
    white-space: nowrap;
}

.modal--regular {
    top: 500px;
}




