<!--Component Modal-->
<section id="modal" class="modal show">
    <div class="container-1170">
        <div class="modal__wrapper">
            <div id="modal__close" class="modal__close"></div>
            <div class="modal__info">
                <div class="modal__text">
                    <h2 class="heading-38 modal__title">Dashboard modal</h2>
                    <p class="text-16 modal__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="wrapper-btns">
                        <a id="state__btn-remind" href="#" onclick="return false" class="recommendation__btn btn btn-secondary close-adherence-modal">
                            <span class="hide-tablet">Secondary</span>
                            <span class="show-tablet">Secondary</span>
                        </a>
                        <a id="state__btn-finish" href="#" class="recommendation__btn btn btn-primary">
                            <span class="hide-tablet">Primary</span>
                            <span class="show-tablet">Primary</span>
                        </a>
                    </div>
                </div>
                <div class="modal__image">
                    <img src="assets/img/card/lemon.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>