@import "../../styles/utils/variables";
@import "../../styles/utils/adjustments";

.test {
    position: relative;
    height:   950px;
}

.modal {
    position: absolute;
    top:      150px;
    left:     0;
    right:    0;
    z-index:  2;
    margin:   auto;
    display:  none;
    overflow: hidden;
    
    @media screen and (max-width: (@big_mobile)) {
        top: 75px;
    }
    
    &.show {
        display: block;
    }
    
    &__wrapper {
        position:         relative;
        border-radius:    9px;
        border:           1px solid @gray7;
        background-color: #ffffff;
        padding:          58px;
        box-sizing:       border-box;
        margin:           0 auto;
        @media screen and (max-width: 1100px) {
            max-width:  600px;
            text-align: center;
        }
        @media screen and (max-width: (@big_mobile)) {
            padding: 40px 16px;
        }
    }
    
    &__info {
        display:         flex;
        justify-content: center;
        @media screen and (max-width: 1100px) {
            flex-wrap: wrap;
        }
    }
    
    &__text {
        flex-basis:    65%;
        padding-right: 60px;
        @media screen and (max-width: 1100px) {
            flex-basis: 100%;
            padding:    0;
            order:      2;
        }
    }
    
    &__image {
        flex-basis: 35%;
        @media screen and (max-width: 1100px) {
            flex-basis:    100%;
            order:         1;
            margin-bottom: 30px;
        }
        
        img, svg {
            display:    block;
            margin:     0 auto;
            width:      auto;
            min-height: 240px;
            height:     100%;
            @media screen and (max-width: 1100px) {
                min-height: 130px;
            }
            @media screen and (max-width: (@mobile)) {
                min-height: 100%;
                height:     auto;
                width:      100%;
                max-width:  200px;
            }
        }
    }
    
    &__title {
        font-weight:   400;
        margin:        0;
        line-height:   1;
        margin-bottom: 30px;
        @media screen and (max-width: (@big_mobile)) {
            font-size:     24px;
            margig-bottom: 20px;
        }
    }
    
    &__description {
        margin-bottom: 40px;
        @media screen and (max-width: (@big_mobile)) {
            font-size:     14px;
            margin-bottom: 30px;
        }
    }
    
    &__close {
        position:      absolute;
        text-align:    center;
        right:         0;
        top:           0;
        width:         44px;
        height:        44px;
        line-height:   44px;
        border-radius: 50%;
        transition:    background-color 0.2s ease-in-out;
        
        &:hover {
            background-color: @gray4;
        }
        
        &:before, &:after {
            position:         absolute;
            left:             48%;
            top:              38%;
            content:          ' ';
            height:           12px;
            width:            2px;
            background-color: @primary;
        }
        
        &:before {
            transform: rotate(45deg);
        }
        
        &:after {
            transform: rotate(-45deg);
        }
    }
}

.wrapper-btns {
    display:     flex;
    white-space: nowrap;
    @media screen and (max-width: (@big_mobile)) {
        justify-content: center;
    }
}

.wrapper-btns--left {
    margin-left: -10px;
    @media screen and (max-width: (@big_mobile)) {
        margin-left: 0;
    }
}

.modal--regular {
    //top:      150px;
    //только для frontify
    top: 530px;
    
    .modal__title {
        margin-bottom: 20px;
        font-weight:   600;
        font-size:     20px;
        @media screen and (max-width: (@big_mobile)) {
            font-size: 20px;
        }
    }
    
    .modal__description {
        margin-bottom: 30px;
        @media screen and (max-width: (@big_mobile)) {
            font-size: 14px;
        }
    }
    
    .modal__info {
        display: block;
    }
    
    .modal__text {
        padding:    0;
        height:     100%;
        min-height: 100%;
    }
    
    .modal__wrapper {
        width:         100%;
        max-width:     430px;
        padding:       37px 40px;
        margin:        0 auto;
        border-radius: 6px;
        @media screen and (max-width: 1100px) {
            text-align: left;
        }
        @media screen and (max-width: (@big_mobile)) {
            padding: 37px 16px;
        }
        
    }
    
    .modal__close {
        width:  40px;
        height: 40px;
    }
}

.wrapper-btns--right {
    justify-content: flex-end;
    margin-right:    -10px;
    @media screen and (max-width: (@big_mobile)) {
        margin-right: 0;
    }
}

.modal-info {
    position: absolute;
    bottom:   75px;
    left:     0;
    right:    0;
    display:  none;
    overflow: hidden;
    
    &.show {
        display: block;
    }
    
    &__wrapper {
        padding:          20px;
        background-color: #eaf8fe;
        max-width:        770px;
        width:            100%;
        margin:           0 auto;
        border-radius:    3px;
    }
    
    &__text {
    
    }
    
    .text--primary {
        text-decoration: none;
    }
}

.modal-info--warning {
    //только для frontify
    bottom: 0;
    
    .modal-info__wrapper {
        background-color: #fff8e4;
    }
}

.modal-info--error {
    //только для frontify
    bottom: 145px;
    
    .modal-info__wrapper {
        background-color: #fae6e6;
    }
}