<!--Component Checkboxes-->

<div class="checkboxes-wrap">
    <!--Regular-->
    <div class="checkbox">
        <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label class="checkbox__label" for="checkbox">Label</label>
    </div>
    <div class="checkbox">
        <input class="checkbox__field" id="checkbox2" name="checkbox" type="checkbox">
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label class="checkbox__label" for="checkbox2">Label</label>
    </div>
    <div class="checkbox">
        <input class="checkbox__field" disabled id="checkbox3" name="checkbox" type="checkbox">
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label class="checkbox__label" for="checkbox3">Label</label>
    </div>
    
    <div class="checkbox">
        <input checked class="checkbox__field" disabled id="checkbox4" name="checkbox" type="checkbox">
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label class="checkbox__label" for="checkbox4">Label</label>
    </div>
    
    <!--Small-->
    <div class="checkbox checkbox--sm">
        <input checked class="checkbox__field" id="checkbox5" name="checkbox" type="checkbox">
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label class="checkbox__label" for="checkbox5">Label</label>
    </div>
    <div class="checkbox checkbox--sm">
        <input checked class="checkbox__field" id="checkbox6" name="checkbox" type="checkbox">
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label class="checkbox__label" for="checkbox6">Label</label>
    </div>
</div>





