<!--Component Checkboxes-->

<div class="checkboxes-wrap">
    <!--Regular-->
    <div class="checkbox">
        <input type="checkbox" id="checkbox" class="checkbox__field" name="checkbox" checked>
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label for="checkbox" class="checkbox__label">Label</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checkbox2" class="checkbox__field" name="checkbox">
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label for="checkbox2" class="checkbox__label">Label</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checkbox3" class="checkbox__field" name="checkbox" disabled>
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label for="checkbox3" class="checkbox__label">Label</label>
    </div>
    
    <div class="checkbox">
        <input type="checkbox" id="checkbox4" class="checkbox__field" name="checkbox" checked disabled>
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label for="checkbox4" class="checkbox__label">Label</label>
    </div>
    
    <!--Small-->
    <div class="checkbox checkbox--sm">
        <input type="checkbox" id="checkbox5" class="checkbox__field" name="checkbox" checked>
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label for="checkbox5" class="checkbox__label">Label</label>
    </div>
    <div class="checkbox checkbox--sm">
        <input type="checkbox" id="checkbox6" class="checkbox__field" name="checkbox" checked>
        <svg class="checkbox__icon icon-checked">
            <use xlink:href="assets/sprite.svg#icon-checked"></use>
        </svg>
        <label for="checkbox6" class="checkbox__label">Label</label>
    </div>
</div>





