<!--Tab component-->

<div class="tab">
    <div class="tab-menu">
        <a class="tab-menu__item active" href="#" onclick="return false">All</a>
        <a class="tab-menu__item" href="#" onclick="return false">Food</a>
        <a class="tab-menu__item" href="#" onclick="return false">Lifestyle</a>
        <a class="tab-menu__item" href="#" onclick="return false">Supplements</a>
        <a class="tab-menu__item" href="#" onclick="return false">Exercise</a>
    </div>
    <div class="tab-content">
        <div class="tab-content__item">All</div>
        <div class="tab-content__item">Food</div>
        <div class="tab-content__item">Lifestyle</div>
        <div class="tab-content__item">Supplements</div>
        <div class="tab-content__item">Exercise</div>
    </div>
</div>