<section class="blog-section">
            <div class="post-listing-wrapper">
                <div class="post-listing">
                    <article class="post__item">
                        <a href="#">
                            <img src="assets/img/post_1.png" alt="">
                        </a>
                        <a href="#">
                            <h1 class="post__header"> This is an example of a long title formatted in sentence case, over two lines</h1>
                        </a>
                        <h6>
                            <span>By Brayden Woods, </span>
                            <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                        </h6>
                        <p>
                            Did you know the most common risk factors for health, disease, and mortality worldwide actually has nothing to
                            do with lifestyle or genetics? It has to do with chronological age. (So, don't blame the family tree just yet)
                            Chronological aging, the number on your birth certificate, is inevitable. Did you know the most common risk
                            factors for health, disease, and mortality worldwide actually has nothing to do with lifestyle or genetics? It
                            has to do with chronological age. (So, don't blame the family tree just yet) Chronological aging, the number on
                            your birth certificate, is inevitable. </p>
                        <a class="read-more" href="#">Read more</a>
                    </article>
                    <article>
                        <a href="#">
                            <img src="assets/img/post_1.png" alt="">
                        </a>
                        <a href="#">
                            <h1>This is an example of a short title</h1>
                        </a>
                        <h6>
                            <span>By Brayden Woods, </span>
                            <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                        </h6>
                        <p>
                            The 2018 Reebok CrossFit Games are fast-approaching and we couldn’t be more excited! After all, for those of you
                            who don’t know, the CrossFit Games, known simply as "The Games" is the Super Bowl of the CrossFit competition
                            season with the first place man and woman being crowned "The Fittest on Earth." </p>
                        <a class="read-more" href="#">Read more</a>
                    </article>
                    <article>
                        <a href="#">
                            <img src="assets/img/post_2.png" alt="">
                        </a>
                        <a href="#">
                            <h1>Sentence case is easier to read</h1>
                        </a>
                        <h6>
                            <span>By Brayden Woods, </span>
                            <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                        </h6>
                        <p>
                            Did you know the most common risk factors for health, disease, and mortality worldwide actually has nothing to
                            do with lifestyle or genetics? It has to do with chronological age. (So, don't blame the family tree just yet)
                            Chronological aging, the number on your birth certificate, is inevitable. </p>
                        <a class="read-more" href="#">Read more</a>
                    </article>
                    <article>
                        <a href="#">
                            <img src="assets/img/post_3.png" alt="">
                        </a>
                        
                        <a href="#">
                            <h1>This is an example of a long title formatted in sentence case, over two lines</h1>
                        </a>
                        <h6>
                            <span>By Brayden Woods, </span>
                            <span>
                                <span>Dec</span>
                                <span>29, </span>
                                <span>2018</span>
                            </span>
                        </h6>
                        <p>
                            Did you know the most common risk factors for health, disease, and mortality worldwide actually has nothing to
                            do with lifestyle or genetics? It has to do with chronological age. (So, don't blame the family tree just yet)
                            Chronological aging, the number on your birth certificate, is inevitable. </p>
                        <a class="read-more" href="#">Read more</a>
                    </article>
                </div>
                <div class="btn-wrap btn-block--centered">
                    <button type="button" class="btn-primary btn-posts btn-posts--next">
                        <span>Newer posts</span>
                    </button>
                    <button type="button" class="btn-primary btn-posts btn-posts--prev">
                        <span>Older posts</span>
                    </button>
                </div>
                <a href="#" class="link-secondary">View full list of blog posts</a>
            </div>
            <div class="right-panel"></div>
            <div class="modal modal--regular show" id="modal">
                <div class="modal__wrapper">
                    <div class="modal__close"></div>
                    <div class="modal__info">
                        <div class="modal__text">
                            <h2 class="heading-20 modal__title">Like what you see?</h2>
                            <p class="heading-20 modal__title hide-tablet--horizontal">Don’t miss out!</p>
                            <a href="#" onclick="return false" class="btn-primary-glass">Subscribe to the blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

// hubspot
<!--<div class="blog-section">-->
    <!--<div class="blog-post-wrapper cell-wrapper">-->
        <!--<div class="blog-section">-->
            <!--<div class="blog-post-wrapper cell-wrapper">-->
                <!--<div class="section post-header">-->
                    <!--<h1>{{ content.name }}</h1>-->
                    <!--<div id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author" >-->
                        <!--<span class="hs-author-label">by</span>-->
                        <!--{% if content.blog_post_author %}-->
                        <!--<a class="author-link" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_post_author.display_name }}</a> on {{ content.publish_date_localized }}-->
                        <!--{% if content.blog_post_author.avatar %} <div class="hs-author-avatar"> <img src="{{ content.blog_post_author.avatar }}" alt="{{ content.blog_post_author.display_name }}"> </div> {% endif %}-->
                        <!--{% endif %}-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="section post-body">-->
                    <!--{{ content.post_body }}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--Listing template-->
<!--<div class="blog-section">-->
    <!--<div class="blog-listing-wrapper cell-wrapper">-->
        <!--<div class="blog-section">-->
            <!--<div class="blog-listing-wrapper cell-wrapper">-->
                <!--{# simple_list_page indicates the "blog/all" page, which is a list of links to every blog post #}-->
                <!--<div class="post-listing{% if simple_list_page %}-simple{% endif %}">-->
                    <!--{% if blog_author %}-->
                    <!--<div class="hs-author-profile">-->
                        <!--<h2 class="hs-author-name">{{ blog_author.display_name }}</h2>-->
                        <!--{% if blog_author.avatar %} <div class="hs-author-avatar"> <img src="{{ blog_author.avatar }}" alt="{{ blog_author.display_name }}"> </div> {% endif %}-->
                        <!--<div class="hs-author-bio">{{ blog_author.bio }}</div>-->
                    <!--</div>-->
                    <!--<h3 class="hs-author-listing-header">Recent Posts</h3>-->
                    <!--{% endif %}-->
                    <!--{% for content in contents %}-->
                    <!--<article class="post__item">-->
                        <!--{% if not simple_list_page %}-->
                        <!--<div class="post-body clearfix">-->
                            <!--&lt;!&ndash;post summary&ndash;&gt;-->
                            <!--{% if content.post_list_summary_featured_image %}-->
                            <!--<div class="hs-featured-image-wrapper">-->
                                <!--<a href="{{content.absolute_url}}" title="" class="hs-featured-image-link">-->
                                    <!--<img src="{{ content.post_list_summary_featured_image }}" class="hs-featured-image" alt="{{ content.featured_image_alt_text | escape }}">-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--{% endif %}-->
                        <!--</div>-->
                        <!--<div class="post-header">-->
                            <!--<h1><a class="post__header-link" href="{{content.absolute_url}}">{{ content.name }}</a></h1>-->
                            <!--<div id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">-->
                                <!--by-->
                                <!--{%if content.blog_post_author %}-->
                                <!--<a class="author-link" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_post_author.display_name }}</a> {{ content.publish_date_localized }}-->
                                <!--{% endif %}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--{{ content.post_list_content|safe }}-->
                        <!--{% if content_group.show_summary_in_listing %}-->
                        <!--<a class="read-more" href="{{ content.absolute_url }}">Read more</a>-->
                        <!--{% endif %}-->
                        <!--{% else %}-->
                        <!--<h2 class="post-listing-simple"><a href="{{content.absolute_url}}">{{ content.name }}</a></h2>-->
                        <!--{% endif %}-->
                    <!--</article>-->
                    <!--{% endfor %}-->
                <!--</div>-->
                <!--{% if not simple_list_page %}-->
                <!--<div class="btn-wrap btn-block&#45;&#45;centered">-->
                    <!--{% if last_page_num %}-->
                    <!--<a class="btn-primary btn-posts btn-posts&#45;&#45;next" href="{{ blog_page_link(last_page_num) }}"><span>Newer posts</span></a>-->
                    <!--{% endif %}-->
                    <!--{% if next_page_num %}-->
                    <!--<a class="btn-primary btn-posts btn-posts&#45;&#45;prev" href="{{ blog_page_link(next_page_num) }}"><span>Older posts</span></a>-->
                    <!--{% endif %}-->
                <!--</div>-->
                <!--<a class="link-secondary" href="{{ blog_all_posts_url(group.id) }}">View full list of blog posts</a>-->
                <!--{% endif %}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->