<!--Table component-->

<div class="table">
    <div class="table__head">
        <div class="table__cell table__cell--title">First column</div>
        <div class="table__cell table__cell--bold">Row headline</div>
        <div class="table__cell">Row standard</div>
        <div class="table__cell"><span class="table__icon"></span>Row with icon</div>
        <div class="table__cell table__cell--sub">Sub row</div>
        <div class="table__cell">Row standard
            <a href="#" onclick="return false" class="link-primary">with link</a> in text</div>
        <div class="table__cell table__cell--disabled">Row disabled</div>
        <div class="table__cell">If text does not fit into a table cell, you may
            truncate text or use a tooltip [ ... ]</div>
    </div>
    <div class="table__body">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="table__column swiper-slide">
                    <div class="table__cell table__cell--title">Column</div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--yellow"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--orange"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--brown"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                    <div class="table__cell">
                        <div class="checkbox table__checkbox">
                            <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
                            <svg class="checkbox__icon icon-checked">
                                <use xlink:href="assets/sprite.svg#icon-checked"></use>
                            </svg>
                            <label class="checkbox__label" for="checkbox"></label>
                        </div>
                    </div>
                    <div class="table__cell table__cell--disabled"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                </div>
                <div class="table__column swiper-slide">
                    <div class="table__cell table__cell--title">Column</div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--yellow"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--orange"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--brown"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                    <div class="table__cell">
                        <div class="checkbox table__checkbox">
                            <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
                            <svg class="checkbox__icon icon-checked">
                                <use xlink:href="assets/sprite.svg#icon-checked"></use>
                            </svg>
                            <label class="checkbox__label" for="checkbox"></label>
                        </div>
                    </div>
                    <div class="table__cell table__cell--disabled"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                </div>
                <div class="table__column swiper-slide">
                    <div class="table__cell table__cell--title">Column</div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--yellow"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--orange"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--brown"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                    <div class="table__cell">
                        <div class="checkbox table__checkbox">
                            <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
                            <svg class="checkbox__icon icon-checked">
                                <use xlink:href="assets/sprite.svg#icon-checked"></use>
                            </svg>
                            <label class="checkbox__label" for="checkbox"></label>
                        </div>
                    </div>
                    <div class="table__cell table__cell--disabled"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                </div>
                <div class="table__column swiper-slide">
                    <div class="table__cell table__cell--title">Column</div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--yellow"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--orange"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--brown"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                    <div class="table__cell">
                        <div class="checkbox table__checkbox">
                            <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
                            <svg class="checkbox__icon icon-checked">
                                <use xlink:href="assets/sprite.svg#icon-checked"></use>
                            </svg>
                            <label class="checkbox__label" for="checkbox"></label>
                        </div>
                    </div>
                    <div class="table__cell table__cell--disabled"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                </div>
                <div class="table__column swiper-slide">
                    <div class="table__cell table__cell--title">Column</div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--yellow"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--orange"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--brown"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                    <div class="table__cell">
                        <div class="checkbox table__checkbox">
                            <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
                            <svg class="checkbox__icon icon-checked">
                                <use xlink:href="assets/sprite.svg#icon-checked"></use>
                            </svg>
                            <label class="checkbox__label" for="checkbox"></label>
                        </div>
                    </div>
                    <div class="table__cell table__cell--disabled"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                </div>
                <div class="table__column swiper-slide">
                    <div class="table__cell table__cell--title">Column</div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--yellow"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--orange"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--brown"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                    <div class="table__cell">
                        <div class="checkbox table__checkbox">
                            <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
                            <svg class="checkbox__icon icon-checked">
                                <use xlink:href="assets/sprite.svg#icon-checked"></use>
                            </svg>
                            <label class="checkbox__label" for="checkbox"></label>
                        </div>
                    </div>
                    <div class="table__cell table__cell--disabled"></span>
                    </div>
                    <div class="table__cell">Data
                        <span class="table__dot table__dot--green"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>