<!--Component Switcher-->

<label class="tumbler-flex">
  <span class="tumbler">
    <input type="checkbox" class="tumbler__input">
    <span class="tumbler__icon"></span>
  </span>
</label>

<label class="tumbler-flex">
  <span class="tumbler tumbler--disabled">
    <input type="checkbox" class="tumbler__input">
    <span class="tumbler__icon"></span>
  </span>
</label>

<div class="toggler-flex">
    <div class="toggler ">
        <label class="toggler__item active">
            US & Canada
            <input type="radio" class="toggler__input" name="toggler" value="">
        </label>
        <label class="toggler__item">
            International Store
            <input type="radio" class="toggler__input" name="toggler" value="">
        </label>
    </div>
</div>