<!--Component Switcher-->

<label class="tumbler-flex">
  <span class="tumbler">
    <input type="checkbox" class="tumbler__input">
    <span class="tumbler__icon"></span>
  </span>
</label>

<label class="tumbler-flex">
  <span class="tumbler tumbler--disabled">
    <input type="checkbox" class="tumbler__input">
    <span class="tumbler__icon"></span>
  </span>
</label>

<div class="toggler-flex">
  <div class="toggler">
    <span class="toggler__item active">
      US & Canada Store
    </span>
    <span class="toggler__item">
      International Store
    </span>
  </div>
</div>